{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Reception{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="center">
                    {% if add_reception %}
                    <h1>Add Reception</h1>
                    {% else %}
                    <h1>Edit Reception</h1>
                    {% endif %}
                    <br />
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}